@model Pratik_Asp_Net_Core_Empty.Models.HomeModel

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title</title>
</head>
<body>
    <h1>@Model.Title</h1>
    <p>@Model.Description</p>
</body>
</html>
